@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1671427405693') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-riqi:before {
  content: "\e65e";
}

.icon-yonghu-xianxing:before {
  content: "\e8c8";
}

.icon-shijian:before {
  content: "\e8a9";
}

.icon-youjiantou:before {
  content: "\e79c";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-phone:before {
  content: "\e6a0";
}

