body{
    font-weight: 500;
    color: var(--body-color,#7b7b7d);
    background-color: #00151f;
    letter-spacing: .05em;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
}